# MIT License - Copyright (c) 2026 Woofix
# See LICENSE file for details

**/__pycache__
**/*.pyc
**/*.pyo
.env
.env.*
*.log
.git
.gitignore
.github
CONTRIBUTING.md
web/.venv
web/tests
web/requirements-dev.txt
web/.pytest_cache
